---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-primary mx-auto border-4 border-secondary rounded-sm p-5 w-11/12 lg:w-2/4 gap-8 grid grid-cols-10 grid-rows-8 h-screen">
		<section class="border-4 row-span-3 col-span-10 border-secondary rounded-sm flex justify-center items-center flex-col">
			<h1 class="font-semibold text-6xl text-secondary">Gabriel Delgado</h1>
			<span class="text-2xl text-secondary font-light">Software-developer</span>
		</section>
	</main>
